.flash-message
  グループを作成しました
.side-ber
  .ber-contents
    .ber-contents__box
      .ber-contents__box__text
        箕浦教祖
      .ber-contents__box__menu
        .ber-contents__box__menu--create
          = link_to '#' do
            %i.fa.fa-edit
        .ber-contents__box__menu--edit
          = link_to '#' do
            %i.fa.fa-cog
  .ber-groups
    .ber-groups__contents
      = render "group"
.main-chat 
  .chat-header 
    .chat-header__contents
      .chat-header__contents--group
        箕浦教
      .chat-header__contents--name
        Member : 箕浦教祖,日比野力也
    .chat-header__create
      = link_to '#',class:"create" do
        Edit
  .chat-messages
    .messages-group
      = render "messages"
  .chat-footer
    .footer-contents
      .footer-contents__text
        .footer-contents__text--massage
          type a message
        .footer-contents__text--img
          = form_for '#' do |f|
            = f.label :image, class: "main-form__image" do
              = fa_icon "image"
              = f.file_field :image, class: "main-form__image--default"
      .footer-contents__send
        = link_to '#',class:"send" do
          Send
