.bar-contents
  .bar-contents__box
    .bar-contents__box__text
      = current_user.name
    .bar-contents__box__menu
      .bar-contents__box__menu--create
        = link_to new_group_path do
          %i.fa.fa-edit
      .bar-contents__box__menu--edit
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
.bar-groups
  - current_user.groups.each do |group|
    = link_to group_messages_path(group),class:"bar-groups__contents" do
      .bar-groups__contents--name
        = group.name
      .bar-groups__contents--text
        = group.show_last_message
